* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-item {
  background-color: aquamarine;
  padding: 2rem;
  height: auto;
  width: auto;
  border-radius: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}
